.chat-group-form
  %h1 チャットグループ作成
  = form_for @group do |f|
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :name, 'グループ名', class: 'chat-group-form__label'
      .chat-group-form__field--right
        = f.text_field :name, id: 'group_name', class: 'chat-group-form__input' , placeholder: 'グループ名を入力してください', value: @group.name
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :チャットメンバーを追加, class: 'chat-group-form__label'
      .chat-group-form__field--right
        .chat-group-form__search.clearfix
          %input#user-search-field.chat-group-form__input{ type: 'text', name: 'keyword', placeholder: '追加したいユーザー名を入力してください' }
        #user-search-result
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :チャットメンバー, class: 'chat-group-form__label--left'
      .chat-group-form__field--right#registered
        .chat-group-form__member.clear-fix
          = current_user.name
          %input{ name: 'group[user_ids][]', value: current_user.id, type: 'hidden' }
    .chat-group-form__field.clearfix
      = f.submit 'Send', class: 'chat-group-form__action-btn'
