.chat
  = render partial: 'shared/chat-side'

  .chat-main
    .chat-header
      .chat-header--left
        %h2
          = @group.name
        %p.chat-header__users
          Members:
          - @users.each do |user|
            = user[:name]
          %span.chat-header__user
      .chat-header--right
        = link_to edit_group_path(@group), class: 'chat-header__edit-btn' do
          Edit
    .chat-body
      %ul.chat-messages
        %li.chat-message
          .chat-message__header
            %p.chat-message__name ryoma
            %p.chat-message__time 2017/03/17 14:20:06
          %p.chat-message__body テストメッセージです
    .chat-footer
      = form_for(@message) do |f|
        .chat-footer__body
          = f.text_area :content, placeholder: 'メッセージを入力してください'
          = f.label :image do
            %i.fa.fa-image
          = f.file_field :image
          = f.hidden_field :group_id, value: @group.id
        = f.submit 'Send', id: 'chat-footer__btn'
