.chat
  = render partial: 'shared/chat-side'

  .chat-main
    .chat-header
      .chat-header--left
        %h2
          = @group.name
        %p.chat-header__users
          Members:
          = render partial: 'shared/registered_users', collection: @users
          %span.chat-header__user
      .chat-header--right
        = link_to edit_group_path(@group), class: 'chat-header__edit-btn' do
          Edit
    .chat-body
      %ul.chat-messages
        = render partial: 'shared/message', collection: @messages
    .chat-footer
      = form_for(@message) do |f|
        .chat-footer__body
          = f.text_area :content, placeholder: 'メッセージを入力してください'
          = f.label :image do
            %i.fa.fa-image
          = f.file_field :image
          = f.hidden_field :group_id, value: @group.id
        = f.submit 'Send', id: 'chat-footer__btn'
